@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');


*, *::after, *::before {
    box-sizing: border-box;
}
body {
    /* display: flex; */
    min-height: 100vh;
    font-family: "Merriweather Sans";
    margin: 0;
    align-items: center;
    padding: 200px 0;
}

.accordions {
    max-width: 70ch;
    margin: auto;
}

.accordions * + * {
    margin-top: 1rem;
}

details {
    border: 2px solid #ddd;
    border-radius: 10px;
    color: #555;
}

summary {
    font-weight: bold;
    color: #333;
    font-size: 1.4rem;
    padding: 2rem;

}

details[open] summary {
    border-bottom: 2px solid #ddd;
}
details[open] summary ~ * {
    padding: 0 2rem;
}

details[open] img {
    margin-top: 2rem;
}
details img {
    max-width: 100%;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

/* https://css-tricks.com/how-to-animate-the-details-element-using-waapi/ */