@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');


*, *::after, *::before {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 2rem;
    min-height: 100vh;
    font-family: "Merriweather Sans";
    background-color: #ddd;
    margin: 0;
}
a {
    color: #333;
    text-decoration: none;
}

header {
    background-color: white;
    text-align: center;
    padding-top: 1rem;
}

.nav-open {
    font-size: 2rem;
}


nav {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100vh;
    left: -300px;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: stretch;
    transition: all 300ms ease-in-out;
}
nav ul {
    width: 100%;
    padding: 2rem;
}

nav:target {
    left: 0;
}

nav li {
    list-style: none;
    margin-bottom: 2rem;
    border-radius: 999px;
    border: 2px solid #ddd;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.nav-close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem 2rem 2rem 4rem;
}
.card {
    flex-basis: 30%;
    flex-grow: 1;
}
.card:first-child,
.card:nth-child(2) {
    grid-column: span 2;
}
img {
    max-width: 100%;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

